### libraries ###
**/bower_components/
**/node_modules/
**/bower.json
**/CAS-**/
**/php-barcode/
**/images/

### config files ###
**/dbconfig.php
**/dbtables.php
**/uiconfig.php
**/casconfig.php

### pem files ###
**/cascert.pem

### log files ###
**/logs

HokiePRIDE-Exec-Dashboard.sublime-workspace
HokiePRIDE-Exec-Dashboard.sublime-project

