### libraries ###
**/bower_components/
**/node_modules/
**/bower.json
**/CAS-1.3.3/
**/php-barcode/
**/images/

### config files ###
**/dbconfig.php

### pem files ###
**/vt-global-ca-chain.pem

### log files ###
**/logs
HokiePRIDE-Exec-Dashboard.sublime-workspace

HokiePRIDE-Exec-Dashboard.sublime-project
